<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>لغة Go بالأمثلة: {{.Name}}</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script>
      window.onkeydown = (e) => {
          if (e.ctrlKey || e.altKey || e.shiftKey || e.metaKey) {
              return;
          }
          {{if .PrevExample}}
          if (e.key == "ArrowRight") {
              window.location.href = '{{.PrevExample.ID}}';
          }
          {{end}}
          {{if .NextExample}}
          if (e.key == "ArrowLeft") {
              window.location.href = '{{.NextExample.ID}}';
          }
          {{end}}
      }
  </script>
  <body>
    <div class="example" id="{{.ID}}">
      <h2><a href="./">لغة <span lang="en" dir="ltr">Go</span> بالأمثلة</a>: <bdi dir="auto">{{.Name}}</bdi></h2>
      {{range .Segs}}
      <table>
        {{range .}}
        <tr>
          <td class="docs">
            {{.DocsRendered}}
          </td>
          <td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
            {{if .CodeRun}}<a href="https://go.dev/play/p/{{$.URLHash}}" class="run" title="شغّل الشيفرة" aria-label="شغّل الشيفرة في Go Playground"><img src="play.png" alt="" /></a><button type="button" class="copy" title="انسخ الشيفرة" aria-label="انسخ الشيفرة"><img src="clipboard.png" alt="" /></button>{{end}}
          {{.CodeRendered}}
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
      {{if .NextExample}}
      <p class="next">
        المثال التالي: <a href="{{.NextExample.ID}}" rel="next"><bdi dir="auto">{{.NextExample.Name}}</bdi></a>.
      </p>
      {{end}}
{{ template "footer" }}
    </div>
    <script>
      var codeLines = [];
      {{range .Segs}}{{range .}}codeLines.push('{{js .CodeForJs}}');{{end}}{{end}}
    </script>
    <script src="site.js" async></script>
  </body>
</html>
