{{define "footer"}}
    <p class="footer">
      إعداد <a href="https://markmcgranaghan.com"><bdi dir="ltr">Mark McGranaghan</bdi></a>
      و<a href="https://eli.thegreenplace.net"><bdi dir="ltr">Eli Bendersky</bdi></a>
      <span aria-hidden="true">|</span>
      <a href="https://github.com/mmcgrana/gobyexample">المصدر الأصلي</a>
      <span aria-hidden="true">|</span>
      <a href="https://github.com/mmcgrana/gobyexample#license">الرخصة</a>
      <br />
      الترجمة العربية بواسطة <a href="https://github.com/0xKa"><bdi dir="ltr">0xKa</bdi></a>
      <span aria-hidden="true">|</span>
      <a href="https://rr0.me">الموقع الشخصي</a>
      <span aria-hidden="true">|</span>
      <a href="https://github.com/0xKa/gobyexample-ar">مصدر الترجمة</a>
    </p>
{{end}}
