<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>لغة Go بالأمثلة</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">لغة <span lang="en" dir="ltr">Go</span> بالأمثلة</a></h2>
      <p>
        لغة <a href="https://go.dev"><span lang="en" dir="ltr">Go</span></a>
        هي لغة برمجة مفتوحة المصدر، صُممت لبناء برمجيات
        قابلة للتوسع وآمنة وموثوقة. اقرأ
        <a href="https://go.dev/doc/tutorial/getting-started">الوثائق الرسمية</a>
        لمعرفة المزيد.
      </p>

      <p>
        موقع "<em>لغة <span lang="en" dir="ltr">Go</span> بالأمثلة</em>"
        هو مقدمة عملية إلى لغة <span lang="en" dir="ltr">Go</span>
        من خلال برامج نموذجية مشروحة. ابدأ
        <a href="hello-world">بالمثال الأول</a>
        أو تصفح القائمة الكاملة أدناه.
      </p>

      <p>
        ما لم يُذكر خلاف ذلك، تفترض الأمثلة هنا استخدام
        <a href="https://go.dev/doc/devel/release">أحدث إصدار رئيسي من <span lang="en" dir="ltr">Go</span></a>،
        وقد تستعمل ميزات لغوية جديدة. حاول الترقية إلى أحدث
        إصدار إذا لم يعمل شيء كما هو متوقع.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}"><bdi dir="auto">{{.Name}}</bdi></a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
